@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-xl-3 col-lg-3">
            <a href="/"><button type="button" class="btn btn-warning">Return Home</button></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-xl-6 col-lg-6">
            <form action='/contacts/search' method='post'>
                <div class="form-group">
                    <label for='name-search'>Search by name:</label>
                    <input id='name-search' name='name-search' type='text'>
                    <button type="submit" class="btn-sm btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-xs-3 col-sm-3 col-xl-3 col-lg-3">
            <form action="/contacts/clear" method="post">
                <button type="submit" class="btn btn-danger" disabled>Clear List</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-xl-12 col-lg-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Your contacts have been cleared!</h1>
            <br>
            <br>
            <a href="/contacts/new"><button type="button" class="btn btn-info">Add a New Contact</button></a></p>
        </div>
    </div>
</div>
