@{
    Layout = "_Layout";
}
<h1>Your search for "@Model["input"]" has the following results:</h1>
    @if (Model["inputMatches"].Count == 0 )
  {
  <h3>Sorry, your search could not find a match.</h3>
  }
else
  {
    <ul>
      @foreach(var contact in Model["inputMatches"])
      {
        <li><a href='/contacts/@contact.GetId()'>@contact.GetContactName()</a></li>
      }
    </ul>
  }



<form action='/contacts/search' method='post'>
    <div class="form-group">
        <label for='name-search'>Search again?</label>
        <input id='name-search' name='name-search' type='text'>
    </div>
    <div class="form-group">
        <button type="submit">Search</button>
        <a href="/"><button type="button">Return Home</button></a>
    </div>
</form>
