<h1>Add a Contact</h1>
<form action='/contacts' method='post'>
    <label for='contact-name'>Full Name</label>
    <input id='contact-name' name='contact-name' type='text'>
    <label for='contact-phone'>Phone Number</label>
    <input id='contact-phone' name='contact-phone' type='text'>
    <label for='contact-address'>Address</label>
    <input id='contact-address' name='contact-address' type='text'>
    <button type='submit'>Add</button>
</form>
<a><a href='/'>Back Home</a></p>
