@if (@Model.GetNewStatus()==true)
    {
        <h1>You've successfully added a new contact.</h1>
    }
<h2>Contact Details</h2>
<h2>@Model.GetContactName()</h2>
<ul>
    <li>@Model.GetPhone()</li>
    /*<li>@Model.GetAddress()</li>*/
</ul>
<form action='/contacts/@Model.GetId()/remove' method="post">
    <button type="submit">Remove This Contact</button>
</form>
<p><a href='/'>Return Home</a></p>
