<h1>Add a Contact</h1>
@* <form action='/contacts/new' method='post'>
    <label for='contact-name'>Full Name</label>
    <input id='contact-name' name='contact-name' type='text'>
    <label for='contact-phone'>Phone Number</label>
    <input id='contact-phone' name='contact-phone' type='text'>
    <label for='contact-address'>Address</label>
    <input id='contact-address' name='contact-address' type='text'>
    <button type='submit'>Add</button>
</form> *@
<form action='/contacts/new' method='post'>
    <label for='contact-name'>Full Name:</label>
    <input id='contact-name' name='contact-name' type='text'>
    <label for='contact-phone'>Phone Number:</label>
    <input id='contact-phone' name='contact-phone' type='text'>
    <label for='address-street'>Street Address:</label>
    <input id='address-street' name='address-street' type='text'>
    <label for='address-city'>City:</label>
    <input id='address-city' name='address-city' type='text'>
    <label for='address-state'>State:</label>
    <input id='address-state' name='address-state' type='text'>
    <label for='address-zip'>Zip Code:</label>
    <input id='address-zip' name='address-zip' type='number'>
    <button type='submit'>Add</button>
</form>
<a><a href='/'>Back Home</a></p>
